.section {
  position: relative;
}
.label {
  position: absolute;
  left: 0;
  top: 40px;
  width: 30%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px 16px;
}
.label h1 {
  font-family: arial;
  font-size: 18px;
}
.label h2 {
  font-family: arial;
  font-size: 14px;
}
